{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:form_row.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:checkbox_row.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock checkbox_row %}

{% block submit_row %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:submit_row.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock submit_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% include 'FlyBundle:Fields:form_errors.html.twig' with { errors : errors } only %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:choice_widget_collapsed.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block form_label %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:form_label.html.twig' with { form : form, label_attr : label_attr } only %}
    {% endspaceless %}
{% endblock form_label %}

{#{% block date_widget %}#}
    {#{% spaceless %}#}
        {#{% include 'FlyBundle:Fields:date_widget.html.twig' with { form : form } only %}#}
    {#{% endspaceless %}#}
{#{% endblock date_widget %}#}

{% block collection_widget %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:collection_widget.html.twig' with { form : form, disabled : disabled } only %}
    {% endspaceless %}
{% endblock collection_widget %}

{% block file_widget %}
    {% spaceless %}
        {% if form.vars.data %}
            <a class="btn btn-primary" href="{{ asset(form.vars.data) }}" target="_blank" download>
                <i class="glyphicon glyphicon-file"></i> Download
            </a>
            <br>
            <br>
        {% endif %}

        <div class="fileinput fileinput-new" data-provides="fileinput">
            <span class="btn btn-primary btn-file m-r-10">
                <span class="fileinput-new">Selecione o arquivo</span>
                <span class="fileinput-exists">Alterar</span>
                <input type="file" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" {{ block('widget_attributes') }}>
            </span>
            <span class="fileinput-filename"></span>
            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
        </div>

    {% endspaceless %}
{% endblock file_widget %}