<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label>
                {{ form_widget(form) }}
                <i class="input-helper"></i>
                {{ form_label(form) }}
            </label>
        </div>
    </div>
</div>