<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="{{ form.vars.class is defined ? form.vars.class : 'btn btn-success' }}">
            {{ form.vars.label is defined ? form.vars.label : 'Salvar' }}
        </button>
    </div>
</div>