{% set messages = app.session.flashbag.get("message") %}
{% if (messages is not empty) %}
    {% for message in messages  %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% set messages = app.session.flashbag.get("error") %}
{% if (messages is not empty) %}
    {% for message in messages  %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}